<div class="hero">
  <br />
  <br />
  <div class = 'frosty col-10 offset-1 text-center'>
    <h1>Learn film from the pros</h1>
      <br />
    <h2>I'm a videographer</h2>
      <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
      <br />
  </div>
</div>
