@import "bootstrap";

.navbar {
  font-family: "Crimson Pro", serif;
  font-weigth: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('papyrus-dark.png');
}

.navbar-inverse a.navbar-brand  { 
  font-family: "Crimson Pro", serif;
  font-weight: 100;
  font-size: 80px;
  color: #66ff99;
}

.hero {
    background: image_url('cinema.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 15px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
  
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 50;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  }

.frosty h2 {
  font-family: "Crimson Pro", serif;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}





















